@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/styles/globals.css */

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: #333;
  color: #f0f0f0;
}

.light {
  background-color: #f0f0f0;
  color: #333;
}



/* src/styles/globals.css */

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.rotate-in {
  animation: rotateIn 0.3s ease-in-out;
}

.rotate-out {
  animation: rotateOut 0.3s ease-in-out;
}

@keyframes rotateIn {
  from {
      transform: rotate(-90deg);
      opacity: 0;
  }
  to {
      transform: rotate(0deg);
      opacity: 1;
  }
}

@keyframes rotateOut {
  from {
      transform: rotate(0deg);
      opacity: 1;
  }
  to {
      transform: rotate(90deg);
      opacity: 0;
  }
}

/* styles/DarkMode.module.css */

.darkCard {
  background-color: #333; /* Тёмный фон */
  color: #fff; /* Светлый текст */
}

.darkCard .ant-card-body {
  background-color: #333; /* Тёмный фон для тела карточки */
}

.darkCard .ant-card-actions > li {
  color: #fff; /* Светлый цвет для иконок действий */
}

